nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: azure;
}